#gridContainer {
    display: flex;
    justify-content: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    min-width: 544px;
    min-height: 544px;
    max-width: 544px;
    max-height: 544px;
    border: 3px dashed black;
}

.grid-square {
    border: 1px solid black;
}

.title {
    text-align: center;
    margin: 50px;
}

.hover {
    background-color: black;
}